
.container {
    display: flex;
    width: 600px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container img {
    flex: 1 1 10px;
    object-fit: cover;
    min-width: 0;
    opacity: 0.6;
    transition: 0.6s;
}
.container img:hover {
    flex: 1 1 260px;
    opacity: 1;
}